.batman.modal.view

  #overlay
    #modal
      .close &#x0078;

      .body
        .title Destroy Cert?
        .message Are you sure you want to destroy this Cert

      button.action.destroy
        .label Destroy Cert Forever!
