.nanobox-dash-ui-certs.edit

  //- 
  .step.one
    p Copy <em>all</em> of the following text and paste it into your 3rd party's SSL generation form. Within the next few days you should receive from them your <strong>SSL Certificate (cert)</strong> and <strong>Certificate Authority (ca)</strong>, which you'll need for the next step.
    textarea(readonly="readonly", spellcheck="false")

    //- 
    .save-zone.renew-cert
      .cancel Save &amp; Finish Later
      button.forward.continue
        .label Continue

  //- 
  .step.two
    form
      #errors

      fieldset
        .form-group.ssl-cert
          textarea(spellcheck="false")

        .form-group.ssl-ca
          textarea(spellcheck="false")

      //- 
      .save-zone.renew-cert
        span.back Back
        .cancel Cancel
        button.save
          .label Renew
