.nanobox-dash-ui-certs.index

  //- 
  include ./shared/_destroy.jade

  //- 
  .certs
    each cert in certs
      .cert.shadow-parent(id = cert.id, class = cert.state, data-id = cert.id)
        .action Continue
        img.shadow-icon(data-src="check-mark")
        .cert-domain #{cert.domain} <span>- SSL creation in progress</span>
        img.shadow-icon(data-src="close-x")

  //- 
  .new-cert.shadow-parent
    img.shadow-icon(data-src="new-btn")
    .label Add an SSL Certificate
