.nanobox-dash-ui-certs.shadow-parent

  //- complete/installed certs
  .cert
    .action Continue
    img.shadow-icon(data-src="check-mark")
    .cert-domain #domain <span>- SSL creation in progress</span>
    img.shadow-icon(data-src="close-x")
    .save-cert save
    img.shadow-icon(data-src="gear")

  //- 
  .new-cert
    img.shadow-icon(data-src="new-btn")
    .label Add an SSL Certificate - $<span>#price</span> / <span>mo</span>
