.nanobox-dash-ui-certs.index

  //
  .certs
    each cert in certs
      .cert.shadow-parent(class = cert.state)
        .action Continue
        img.shadow-icon(data-src="check-mark")
        .cert-domain #{cert.domain} <span>- SSL creation in progress</span>
        img.shadow-icon(data-src="close-x")
        img.edit-cert.shadow-icon(data-src="gear")

  //- 
  .new-cert.shadow-parent
    img.shadow-icon(data-src="new-btn")
    .label Add an SSL Certificate
