.nanobox-dash-ui-certs.shadow-parent

  //- complete/installed certs
  .cert.installed
    .action Continue
    .cert-domain #domain <span>- SSL creation in progress</span>
    img.shadow-icon(data-src="close-x")
    button.simple.save-cert
    img.shadow-icon(data-src="gear")

  //- 
  button.hex.hex-icon-left.new-ssl-cert
    img.shadow-icon(data-src="new-btn")
    .label
      Add an SSL Certificate
      .tail
        span - $<span>#price</span> / <span>mo</span>
