.nanobox-dash-ui-certs.new

  //- 
  .options
    .option.toggle.checked(data-selection = "letsencrypt") Use <a href="" target="_blank">LetsEncrypt</a>
    .option.toggle(data-selection = "thirdparty") Key &amp; Install a 3rd party cert
    .option.toggle(data-selection = "import") Import an existing cert
    
    .save-zone.shadow-parent
      .cancel Cancel
      button.forward.start
        .label Lets Go!
    
  //- 
  .selections
  
    //- 
    .selection.letsencrypt
    
      //- 
      include ./shared/_form.jade
      
      //- 
      .save-zone.shadow-parent
        .reset Cancel
        button.save.finish
          img.shadow-icon(data-src="check-mark")
          .label Save &amp; Finish

    //- 
    .selection.thirdparty
    
      .step.one
        //- 
        include ./shared/_form.jade
        
        //- 
        .save-zone.renew-cert
          .reset Cancel
          button.forward.continue
            .label Save &amp; Continue
      
      //- 
      .step.two
        p Copy <em>all</em> of the following text and paste it into your 3rd party's SSL generation form. Within the next few days you should receive from them your <strong>SSL Certificate (cert)</strong> and <strong>Certificate Authority (ca)</strong>, which you'll need for the next step.
        textarea(readonly="readonly", spellcheck="false") #{key}

        //- 
        .save-zone.renew-cert
          .cancel Save &amp; Finish Later
          button.forward.continue
            .label Continue

      //- 
      .step.three
        form
          #errors

          fieldset
            .form-group.ssl-cert
              textarea(spellcheck="false")

            .form-group.ssl-ca
              textarea(spellcheck="false")

          //- 
          .save-zone.renew-cert
            span.back Back
            .reset Cancel
            button.save.finish
              .label Save &amp; Finish
    
    //- 
    .selection.import
      p To import an existing SSL Certificate, simply copy and paste your existing <strong>Key</strong>, <strong>Certificate (cert)</strong>, and <strong>Certificate Authority (ca)</strong> then select "import".
      
      form
        #errors
        
        fieldset
          .form-group.cert-key
            textarea(spellcheck="false")

          .form-group.ssl-cert
            textarea(spellcheck="false")

          .form-group.ssl-ca
            textarea(spellcheck="false")

        //- 
        .save-zone.shadow-parent
          .reset Cancel
          button.save.finish
            img.shadow-icon(data-src="check-mark")
            .label Import

    
