.nanobox-dash-ui-certs.show
  p Use “Edit / View Details” to view and/or modify the Certificate and Certificate Authority tied to your SSL certificate. “Renew / Rekey” will provide you with what you need to renew or rekey your SSL certificate. Your current certificate will remain active and unchanged until these processes are completely finished.
  .actions
    .action.edit Edit / View Details
    .action.renew Renew / Rekey
    .action.delete Delete Cert
