#overlay
  #modal.shadow-parent
    img.shadow-icon(data-src="close-x")

    //- 
    .body
      .title Destroy Cert?
      .message Please confirm that you want to destroy this cert. <strong>This action cannot be undone!</strong>

    //- 
    button.action.destroy
