//- 
form
  #errors
  .row
    .form-group.ssl-domain
      label Domain Name
      input
    .form-group.ssl-email
      label Email
      input
  .row
    .form-group.ssl-orginization
      label Organization (eg, company)
      input
    .form-group.ssl-department
      label Department (eg, development)
      input
  .row
    .form-group.ssl-city
      label City
      input
    .form-group.ssl-state
      label State/Province (full name)
      input
  .row
    .form-group.ssl-country
      label Country
