.nanobox-dash-ui-certs.new  {width:100%;

  .selections .selection    {display:none;}

  //
  .toggle                   {@include font-size(14px); display:flex; align-items:center; margin-bottom:15px; color:$dashboard_20; cursor:pointer;
    a                       {margin-left:3px; color:$dashboard_73; text-decoration:underline;}
    &:before                {@include border-radius(100%, 100%, 100%, 100%); content:""; display:inline-block; width:14px; height:14px; margin-right:5px; background:$white;}
    &:hover                 {color:$dashboard_73;}
    &.checked               {pointer-events:none; &:before {border:3px solid white; background:$dashboard_73;}}
  }
}
